.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.box{
    height: 400px;
    width: 400px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s linear ;
}
.box:hover{
    /* transform: rotate(45deg); */
    transform: scale(2);
    /* transform: skew(45deg); */
    /* transform: translate(xdirection, ydirection); */

}
p{
    font-size: 36px;
}